<?xml version="1.0"?>
<model>
  <name>abc_vtol_4r</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
   <name>wang senlin</name>
   <email>wang.senlin@outlook.com</email>
  </author>

  <description>
    This is a model of a abc vtol for 4 rotor version
  </description>
</model>
